ul{
  list-style-type: none;
  /*margin: 1;*/
  padding: 1;
  overflow: hidden;
  background-color: #0099CC;
}

nav{
  background-color: #0099CC;
}

li{
  float: left;
}

li a {
  display: block;
  background-color: #00CC66;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #0099CC;
  color: white;
}

div{
  margin-left: 16px;
  padding-bottom: 20px;
}

h1{
  margin-left: 16px;
}

p{
  margin-left: 16px;
}

/*
textarea{
  font-style: normal;
  font-size: normal;
}




h2{
  padding-left: 40px;
}

h1{
  padding-left: 40px;
}

button{
  margin-left: 1;
}
*/
  padding-left: 40px;
}
